﻿@model BackOffice.Models.TechnologyModel
@{
    ViewBag.Title = "consultTechnology";
}

<a href="@Url.Action("index", "technology")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Detalle de Tecnologia</h2>
<div>
    <ul>
        <li>Nombre : @Model.technology.Name</li>
        @if (true == Model.technology.Active)
        {
            <li>Activo : Si</li>
        }
        else
        {
            <li>Activo : No</li>
        }
    </ul>
</div>
