﻿
@{
    Layout = null;
}

<h2>Tecnologias</h2>
<a href="@Url.Action("formCreateTechnology", "technology")" class="btn btn-primary">Crear Tecnologia</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">nombre</th>
            <th scope="col">active</th>
            <th scope="col">editar</th>
            <th scope="col">consultar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Technology technology in Model.listTechnology)
        {
        <tr>
            <td>@technology.Name</td>
            @if (technology.Active == true)
            {
                <td>si</td>
            }
            else
            {
                <td>no</td>
            }
            <td><a href="@Url.Action("formUpdateTechnology", "Technology",new { id = technology.Id })">Editar</a></td>
            <td><a href="@Url.Action("consultTechnology", "Technology",new { id = technology.Id })">Consultar</a></td>
        </tr>
        }
    </tbody>
</table>
