﻿@model BackOffice.Models.TechnologyModel
@{
    ViewBag.Title = "formUpdateTechnology";
}

<a href="@Url.Action("index", "technology")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Actualizar Tecnologia</h2>
<div class="col-12 row d-flex justify-content-center">
    @using (Html.BeginForm("updateTechnology", "Technology", FormMethod.Post, new { id = "updateTechnology" }))
    {
        <input type="hidden" value="@Model.technology.Id" name="id" class="form-control" id="id">

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" value="@Model.technology.Name" name="name" class="form-control" id="name" autocomplete="off">
            <div class="text-danger" id="nameError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Activo</label>
            <select id="active" name="active" class="form-control">
                @if (Model.technology.Active == true)
                {
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                }
                else
                {
                    <option value="1">Activo</option>
                    <option value="0" selected>Inactivo</option>
                } 
            </select>
        </div>

        <div class="form-group mt-4 col-6">
            <button type="submit" class="btn btn-warning btn-lg">Actualizar Tecnologia</button>
        </div>
    }
</div>

<script type="text/javascript" src="~/js/technology/formUpdateTechnology.js"></script>