﻿@model BackOffice.Models.TechnologyModel
@{
    ViewBag.Title = "formCreateTechnology";
}

<a href="@Url.Action("index", "technology")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Crear Tecnologia</h2>
<div class="col-12 row d-flex justify-content-center">
    @using (Html.BeginForm("createTechnology", "Technology", FormMethod.Post, new { id = "createTechnology" }))
    {

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" name="name" class="form-control" id="name" autocomplete="off">
            <div id="nameError" class="text-danger"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Activo</label>
            <select id="active" name="active" class="form-control">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>

        <div class="form-group mt-4 col-6">
            <button type="submit" class="btn btn-success btn-lg">Crear Tecnologia</button>
        </div>

    }
</div>

<script type="text/javascript" src="~/js/technology/formCreateTechnology.js"></script>