﻿@model BackOffice.Models.TechnologyModel
@{
    ViewBag.Title = "index";
}

<div class="border p-4 mb-5 bg-light">
    <div class="form-group mt-2 col-6">
        <h2>Filtrar</h2>
        <select id="active" name="active" class="form-control">
            <option value="0">todos</option>
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
        </select>
    </div>


    <div class="form-group mt-2 col-6">
        <button type="submit" id="filter" class="btn btn-danger col-6">Filtrar</button>
    </div>
</div>

<div id="filterTechnology">
<h2>Tecnologias</h2>
<a href="@Url.Action("formCreateTechnology", "technology")" class="btn btn-primary mb-4">Crear Tecnologia</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">active</th>
            <th scope="col">editar</th>
            <th scope="col">consultar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Technology technology in Model.listTechnology)
        {
        <tr>
            <td>@technology.Id</td>
            <td>@technology.Name</td>
            @if (technology.Active == true)
            {
                <td>si</td>
            }
            else
            {
                <td>no</td>
            }
            <td><a href="@Url.Action("formUpdateTechnology", "Technology",new { id = technology.Id })">Editar</a></td>
            <td><a href="@Url.Action("detailTechnology", "Technology",new { id = technology.Id })">Consultar</a></td>
        </tr>
        }
    </tbody>
</table>
</div>

<script type="text/javascript" src="~/js/technology/technology.js"></script>