﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addStudentCurseItem</title>
</head>
<body>
    <div> 
        @foreach (int idS in ViewBag.idStudents)
        {
        <p>@idS</p>
        }
    </div>
</body>
</html>
