﻿@model BackOffice.Models.CurseItemModel
@{
    ViewBag.Title = "detailCurseItem";
}

<a href="@Url.Action("index", "CurseItem")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Detalle de calendario</h2>
<div>
    <ul>
        <li>Nombre curso : @Model.curseItem.Curse.Name</li>
        <li>Fecha inicio : @Model.curseItem.DateStart</li>
        <li>Fecha finalizacion : @Model.curseItem.DateFinish</li>
    </ul>
</div>

<h3>Profesor</h3>
<div>
    <ul>
        <li>Nombre : @Model.curseItem.Teacher.Person.FirstName</li>
        <li>Apellido : @Model.curseItem.Teacher.Person.LastName</li>
        <li>Email : @Model.curseItem.Teacher.Person.Email</li>
        <li>DNI : @Model.curseItem.Teacher.Person.Dni</li>
    </ul>
</div>

<h3>Alumnos</h3>
<div>
    @foreach (CurseItemStudent sic in Model.curseItem.CurseItemStudents)
    {
        <div>
            <ul>
                <li>Nombre : @sic.Student.Person.FirstName</li>
                <li>Apellido : @sic.Student.Person.LastName</li>
                <li>Email : @sic.Student.Person.Email</li>
                <li>DNI : @sic.Student.Person.Dni</li>
            </ul>
        </div>
    }
</div>


