﻿
@{
    Layout = null;
}

<h2>Calendarios</h2>
<a href="@Url.Action("formCreateCurseItem", "CurseItem")" class="btn btn-primary">Crear Tecnologia</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">profesor</th>
            <th scope="col">curso</th>
            <th scope="col">precio</th>
            <th scope="col">estado</th>
            <th scope="col">activo</th>
            <th scope="col">editar</th>
            <th scope="col">consultar</th>
        </tr>
    </thead>
    <tbody>

        @foreach (CurseItem curseItem in Model.listCurseItems)
        {
        <tr>
            <td>@curseItem.Id</td>
            <td>@curseItem.Teacher.Person.FirstName</td>
            <td>@curseItem.Curse.Name</td>
            <td>@curseItem.Price</td>
            <td>@curseItem.CurseItemState.Name</td>
            @if (true == curseItem.CurseItemState.active)
            {
                <td>si</td>
            }
            else
            {
                <td>no</td>
            }
            <td><a href="@Url.Action("formUpdateCurseItem", "CurseItem",new { id = curseItem.Id })">Editar</a></td>
            <td><a href="@Url.Action("detailCurseItem", "CurseItem",new { id = curseItem.Id })">Consultar</a></td>
        </tr>
        }
    </tbody>
</table>
