﻿@model BackOffice.Models.CurseItemModel
@{
    Layout = null;
}
@foreach(Student s  in Model.listStudent)
{
<div class="col-6  p-1 mt-1 d-flex justify-content-between">
    <input type="hidden" class="idStudent" name="idStudent" value="@s.Id" />
    <span>@s.Id - @s.Person.FirstName - @s.Person.LastName - @s.Person.Dni</span>
    <button id="addOneStudent" name="addOneStudent" class="addOneStudent btn btn-success" type="button">Agregar</button>
</div>
}

