﻿@model BackOffice.Models.CurseItemModel
@{
    ViewBag.Title = "formCreateCurseItem";
}

<a href="@Url.Action("index", "CurseItem")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Crear Calendario</h2>

<div class="col-12 row d-flex justify-content-center">
    @using (Html.BeginForm("createCurseItem", "CurseItem", FormMethod.Post, new { id = "createCurseItem" }))
    {
        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Curso</label>
            <select class="form-control" name="idCurse" id="idCurse">
                @foreach (Curse curse in Model.ListCurse)
                {
                    <option value="@curse.Id">@curse.Name</option>
                }
            </select>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Profesor</label>
            <select class="form-control" name="idTeacher" id="idTeacher">
                @foreach (Teacher teacher in Model.listTeacher)
                {
                    <option value="@teacher.Id">@teacher.Person.FirstName</option>
                }
            </select>
            <div class="text-danger" id="teacherError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Fecha Inicio</label>
            <input class="form-control" type="date" value="" name="dateStart" id="dateStart" />
            <div class="text-danger" id="dateStartError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">fecha fin</label>
            <input class="form-control" type="date" value="" name="dateFinish" id="dateFinish" />
            <div class="text-danger" id="dateEndError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Hora Inicio</label>
            <input class="form-control" type="time" value="" name="timeStart" id="timeStart" />
            <div class="text-danger" id="timeStartError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Hora fin</label>
            <input class="form-control" type="time" value="" name="timeFinish" id="timeFinish" />
            <div class="text-danger" id="timeEndError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Estado</label>
            <select class="form-control" name="state" id="state">
                <option value="Abierto">Abierto</option>
                <option value="Sin vacante">Sin vacante</option>
                <option value="Finalizado">Finalizado</option>
            </select>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Activo</label>
            <select id="active" name="active" class="form-control">
                <option value="1" selected>Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="" class="form-label">Dias</label>
            <div><input type="checkbox" name="days" value="0" /> Domingo </div>
            <div><input type="checkbox" name="days" value="1" /> Lunes </div>
            <div><input type="checkbox" name="days" value="2" /> Martes </div>
            <div><input type="checkbox" name="days" value="3" /> Miercoles </div>
            <div><input type="checkbox" name="days" value="4" /> Jueves </div>
            <div><input type="checkbox" name="days" value="5" /> Viernes </div>
            <div><input type="checkbox" name="days" value="6" /> Sabado </div>
            <div class="text-danger" id="daysError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Alumnos maximos</label>
            <input class="form-control" type="number" value="" name="studentsCapacity" id="studentsCapacity" />
            <div class="text-danger" id="studentsCapacityError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Precio</label>
            <input type="text" class="form-control" value="" name="price" id="price" />
            <div class="text-danger" id="priceError"></div>
        </div>

        <div class="form-group mt-4 col-6">
            <button type="submit" class="btn btn-success btn-lg">Crear Calendario</button>
        </div>
    }
</div>

<script type="text/javascript" src="~/js/curseItem/formCreateCurseItem.js"></script>
<script type="text/javascript" src="~/js/curseItem/teacherCurseItem.js"></script>

