﻿@model BackOffice.Models.CurseItemModel
@{
    ViewBag.Title = "formUpdateCurseItem";
}
<link rel="stylesheet" type="text/css" href="~/css/updateCurseItem.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<a href="@Url.Action("index", "CurseItem")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Actualizar Calendario</h2>

<nav>
    <div class="nav nav-tabs" id="nav-tab"  role="tablist">
        <a class="nav-item nav-link active" id="commonSection-tab" href="">Calendario</a>
        <a class="nav-item nav-link" id="studentSection-tab" href="">Alumnos</a>
    </div>
</nav>

<div class="col-12 row d-flex justify-content-center">
    @using (Html.BeginForm("updateCurseItem", "CurseItem", FormMethod.Post, new { id = "updateCurseItem" }))
    {
     <div class="col-12" id="tabContent">
        <div class="tabC col-12" id="common">
            <input type="hidden" value="@Model.curseItem.Id" name="idCurseItem" id="idCurseItem" />

            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Curso</label>
                <select class="form-control" name="idCurse" id="idCurse">
                    @foreach (Curse curse in Model.ListCurse)
                    {
                        if (curse.Id == Model.curseItem.Curse.Id)
                        {
                            <option value="@curse.Id" selected>@curse.Name</option>
                        }
                        else
                        {
                            <option value="@curse.Id">@curse.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Profesor</label>
                <select class="form-control" name="idTeacher" id="idTeacher">
                    @foreach (Teacher teacher in Model.listTeacher)
                    {
                        if (Model.curseItem.Teacher.Id == teacher.Id)
                        {
                            <option value="@teacher.Id" selected>@teacher.Person.FirstName</option>
                        }
                        else
                        {
                            <option value="@teacher.Id">@teacher.Person.FirstName</option>
                        }
                    }
                </select>
                <div class="text-danger" id="teacherError"></div>
            </div>

            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Fecha Inicio</label>
                <input class="form-control" type="date" value="@Model.curseItem.DateStart.ToString("yyyy-MM-dd")" name="dateStart" id="dateStart" />
                <div class="text-danger" id="dateStartError"></div>
            </div>

            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">fecha fin</label>
                <input class="form-control" type="date" value="@Model.curseItem.DateFinish.ToString("yyyy-MM-dd")" name="dateFinish" id="dateFinish" />
                <div class="text-danger" id="dateEndError"></div>
            </div>

            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Hora Inicio</label>
                <input class="form-control" type="time" value="@Model.curseItem.DateStart.ToString("hh:mm")" name="timeStart" id="timeStart"/>
                <div class="text-danger" id="timeStartError"></div>
            </div>

            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Hora fin</label>
                <input class="form-control" type="time" value="@Model.curseItem.DateFinish.ToString("hh:mm")" name="timeFinish" id="timeFinish"/>
                <div class="text-danger" id="timeEndError"></div>
            </div>

            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Estado</label>
                <select class="form-control" name="state" id="state">
                    <option value="Abierto">Abierto</option>
                    <option value="Sin vacante">Sin vacante</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
            </div>

            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Activo</label>
                <select id="active" name="active" class="form-control">
                    @if (Model.curseItem.CurseItemState.active == true)
                    {
                        <option value="1" selected>Activo</option>
                        <option value="0">Inactivo</option>
                    }
                    else
                    {
                        <option value="1">Activo</option>
                        <option value="0" selected>Inactivo</option>
                    }
                </select>
            </div>

            <div class="form-group mt-2 col-6">
                <label for="" class="form-label">Dias</label>
                @if (Model.daysItems != null)
                {
                    if (true == Model.daysItems.Contains(0))
                    {
                        <div><input type="checkbox" name="days" value="0" checked />Domingo</div>
                    }
                    else
                    {
                        <div><input type="checkbox" name="days" value="0" />Domingo</div>
                    }

                    if (true == Model.daysItems.Contains(1))
                    {
                        <div><input type="checkbox" name="days" value="1" checked /> Lunes </div>
                    }
                    else
                    {
                        <div><input type="checkbox" name="days" value="1" /> Lunes </div>
                    }

                    if (true == Model.daysItems.Contains(2))
                    {
                        <div><input type="checkbox" name="days" value="2" checked />Martes</div>
                    }
                    else
                    {
                        <div><input type="checkbox" name="days" value="2" />Martes</div>
                    }

                    if (true == Model.daysItems.Contains(3))
                    {
                        <div><input type="checkbox" name="days" value="3" checked />Miercoles</div>
                    }
                    else
                    {
                        <div><input type="checkbox" name="days" value="3" />Miercoles</div>
                    }

                    if (true == Model.daysItems.Contains(4))
                    {
                        <div><input type="checkbox" name="days" value="4" checked />Jueves</div>
                    }
                    else
                    {
                        <div><input type="checkbox" name="days" value="4" />Jueves</div>
                    }

                    if (true == Model.daysItems.Contains(5))
                    {
                        <div><input type="checkbox" name="days" value="5" checked />Viernes</div>
                    }
                    else
                    {
                        <div><input type="checkbox" name="days" value="5" />Viernes</div>
                    }

                    if (true == Model.daysItems.Contains(6))
                    {
                        <div><input type="checkbox" name="days" value="6" checked />Sabado</div>
                    }
                    else
                    {
                        <div><input type="checkbox" name="days" value="6" />Sabado</div>
                    }
                }
                else
                {
                    <div><input type="checkbox" name="days" value="0" /> Domingo </div>
                    <div><input type="checkbox" name="days" value="1" /> Lunes </div>
                    <div><input type="checkbox" name="days" value="2" /> Martes </div>
                    <div><input type="checkbox" name="days" value="3" /> Miercoles </div>
                    <div><input type="checkbox" name="days" value="4" /> Jueves </div>
                    <div><input type="checkbox" name="days" value="5" /> Viernes </div>
                    <div><input type="checkbox" name="days" value="6" /> Sabado </div>
                }
                <div class="text-danger" id="daysError"></div>
            </div>

            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Alumnos maximos</label>
                <input class="form-control" type="number" value="@Model.curseItem.studentsCapacity" name="studentsCapacity" id="studentsCapacity" />
                <div class="text-danger" id="studentsCapacityError"></div>
            </div>

            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Precio</label>
                <input type="text" class="form-control" value="@Model.curseItem.Price" name="price" id="price" />
                <div class="text-danger" id="priceError"></div>
            </div>
        </div>

        <div class="tabC col-12" id="students">
            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Alumnos</label>
                <input type="text" class="form-control" value="" id="studentName" />
                <div class="text-danger" id="studentError"></div>
            </div>

            <div class="listStudent" id="listStudent"></div>

            <label for="exampleFormControlInput1" class="form-label">Agregar Alumnos</label>
            <div class="addStudent" id="addStudent">
                @foreach (CurseItemStudent cis in Model.curseItem.CurseItemStudents)
                {
                    <div class="col-6  p-2 mt-1 d-flex justify-content-between">
                        <input class="studentInput p-2" name="idStudents" type="hidden" value="@cis.Student.Id">
                        <span>@cis.Student.Id - @cis.Student.Person.FirstName - @cis.Student.Person.LastName - @cis.Student.Person.Dni</span>
                        <button type='button' name='deleteStudent' class='deleteStudent btn btn-danger'>Eliminar</button>
                    </div>
                }
            </div>
        </div>
     </div>

     <div class="form-group mt-4 col-6">
        <button type="submit" class="btn btn-warning btn-warning btn-lg">Actualizar Calendario</button>
     </div>
     }
    </div>

<script type="text/javascript" src="~/js/curseItem/formUpdateCurseItem.js"></script>
<script type="text/javascript" src="~/js/curseItem/teacherCurseItem.js"></script>