﻿@model BackOffice.Models.CurseItemModel
@{
    ViewBag.Title = "index";
    
}

<div class="border p-4 mb-5 bg-light">
    
        <div class="form-group mt-2 col-6">
            <h2>Filtrar</h2>
            <select id="active" name="active" class="form-control">
                <option value="0">todos</option>
                <option value="1">Activo</option>
                <option value="2">Inactivo</option>
            </select>
        </div>
    
    <div class="form-group mt-2 col-6">
        <label for="exampleFormControlInput1" class="form-label">Tecnologia</label>
        <select type="text" name="idTec" id="idTec" class="form-control">
            <option value="0">todos</option>
            @foreach (Technology technology in Model.listTechnologies)
            {
                <option value="@technology.Id">@technology.Name</option>
            }
        </select>
    </div>

    <div class="form-group mt-2 col-6">
        <button type="submit" id="filter" class="btn btn-danger col-6">Ingresar</button>
    </div>
</div>

<div class="" id="filterCurseItems">
    <h2>Calendarios</h2>
    <a href="@Url.Action("formCreateCurseItem", "CurseItem")" class="btn btn-primary">Crear calendario</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">profesor</th>
                <th scope="col">curso</th>
                <th scope="col">precio</th>
                <th scope="col">estado</th>
                <th scope="col">activo</th>
                <th scope="col">editar</th>
                <th scope="col">consultar</th>
            </tr>
        </thead>
        <tbody>

            @foreach (CurseItem curseItem in Model.listCurseItems)
            {
            <tr>
                <td>@curseItem.Id</td>
                <td>@curseItem.Teacher.Person.FirstName</td>
                <td>@curseItem.Curse.Name</td>
                <td>@curseItem.Price</td>
                <td>@curseItem.CurseItemState.Name</td>
                @if (true == curseItem.CurseItemState.active)
                {
                    <td>si</td>
                }
                else
                {
                    <td>no</td>
                }
                <td><a href="@Url.Action("formUpdateCurseItem", "CurseItem",new { id = curseItem.Id })">Editar</a></td>
                <td><a href="@Url.Action("detailCurseItem", "CurseItem",new { id = curseItem.Id })">Consultar</a></td>
            </tr>
            }
        </tbody>
    </table> 
</div>

<script type="text/javascript" src="~/js/curseItem/curseItem.js"></script>



