﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--Styles.Render("~/Content/css")-->
    <title>layout - Mi aplicación ASP.NET</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-dark navbar-fixed-top mb-5">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="~/image/logo_web.png" alt="" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="">
                        <div class="navbar-nav">
                            @if (Model.userSession == null)
                            {
                                <a class="nav-link" style="color:#5d009b" href="@Url.Action("index", "Login")">Login</a>
                                <a class="nav-link" style="color:#5d009b" href="@Url.Action("formCreateUser", "User")">Registrarse</a>
                            }
                            else
                            {
                                <a class="nav-link" style="color:#5d009b" href="@Url.Action("index", "User")">Usuarios</a>
                                <a class="nav-link" style="color:#5d009b" href="@Url.Action("index", "Technology")">Tecnologias</a>
                                <a class="nav-link" style="color:#5d009b" href="@Url.Action("index", "Curse")">Cursos</a>
                                <a class="nav-link" style="color:#5d009b" href="@Url.Action("index", "Student")">Alumnos</a>
                                <a class="nav-link" style="color:#5d009b" href="@Url.Action("index", "Teacher")">Profesor</a>
                                <a class="nav-link" style="color:#5d009b" href="@Url.Action("index", "CurseItem")">Calendario</a>
                                <a class="nav-link" style="color:#5d009b" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Salir</a>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">@Model.userSession.FirstName - @Model.userSession.LastName</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="fs-5">¿ Estas seguro de que quieres salir ?</p>
                                            </div>
                                            <div class="modal-footer text-center">
                                                <button type="button" class="btn btn-secondary col-3" data-bs-dismiss="modal">NO</button>
                                                <a class="btn btn-danger col-3" href="@Url.Action("logOut", "Login")">SI</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    
</body>
</html>