﻿@model BackOffice.Models.LoginModel
@{
    ViewBag.Title = "index";
}

<h2>Login Usuario</h2>

@using (Html.BeginForm("signIn", "Login", FormMethod.Post, new { @class = "formLogin col-6 border p-5" , id = "signIn" }))
{
    <div class="form-group mb-2">
        <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
    </div>

    <div class="form-group">
        <input type="password" name="password" class="form-control " id="password">
    </div>
    
    <div class="text-danger" id="loginError"></div>
     
    <div class="col-lg mt-2 col-12">
        <button type="submit" class="btn btn-danger col-12">Ingresar</button>
    </div>
}

<script type="text/javascript" src="~/js/login/login.js"></script>
