﻿@model BackOffice.Models.StudentModel
@{
    ViewBag.Title = "ConsultStudent";
}

<a href="@Url.Action("index", "Student")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Detalle Alumno</h2>
<div>
    <ul>
        <li>Nombre : @Model.student.Person.FirstName</li>
        <li>Apellido : @Model.student.Person.LastName</li>
        <li>Observaciones : @Model.student.Person.Observations</li>
        <li>email : @Model.student.Person.Email</li>
        <li>telefono : @Model.student.Person.Telephone</li>
        <li>DNI : @Model.student.Person.Dni</li>
    </ul>    
    <img style="width:600px;height: 400px" src="data:image/jpeg;base64,@Model.student.Person.LinkPhoto" />
</div>

