﻿
@{
    Layout = null;
}

<h2>Alumnos</h2>
<a href="@Url.Action("formCreateStudent", "student")" class="btn btn-primary">Crear un Alumno</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">apellido</th>
            <th scope="col">email</th>
            <th scope="col">Actvar</th>
            <th scope="col">Editar</th>
            <th scope="col">consultar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model.listStudent)
        {
        <tr>
            <td>@student.Id</td>
            <td>@student.Person.FirstName</td>
            <td>@student.Person.LastName</td>
            <td>@student.Person.Email</td>
            @if (student.Active == true)
            {
                <td>si</td>
            }
            else
            {
                <td>no</td>
            }
            <td><a href="@Url.Action("formUpdateStudent", "Student",new { id = student.Id })">Editar</a></td>
            <td><a href="@Url.Action("ConsultStudent", "Student",new { id = student.Id })">Consultar</a></td>
        </tr>
        }
    </tbody>
</table>


