﻿@model BackOffice.Models.StudentModel
@{
    ViewBag.Title = "formUpdateStudent";
}

<a href="@Url.Action("index", "Student")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Actualizar Alumno</h2>
<div class="col-12 row d-flex justify-content-center ">
    @using (Html.BeginForm("updateStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" , id = "updateStudent" }))
    {
        <input type="hidden" value="@Model.student.Id" name="id" id="id">

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" value="@Model.student.Person.FirstName" name="firstName" class="form-control" id="firstName" placeholder="nombre" autocomplete="off">
            <div class="text-danger" id="firstNameError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
            <input type="text" value="@Model.student.Person.LastName" name="lastName" class="form-control" id="lastName" placeholder="apellido" autocomplete="off">
            <div class="text-danger" id="lastNameError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="text" value="@Model.student.Person.Email" name="email" class="form-control" id="email" placeholder="example@example.com" autocomplete="off">
            <div class="text-danger" id="emailError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">DNI</label>
            <input type="text" value="@Model.student.Person.Dni" name="dni" class="form-control" id="dni" autocomplete="off">
            <div class="text-danger" id="dniError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Telefono</label>
            <input type="text" value="@Model.student.Person.Telephone" name="telephone" class="form-control" id="telephone" autocomplete="off">
            <div class="text-danger" id="telephoneError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Foto</label>
            <input type="file" name="file" class="form-control" id="file">
        </div>

        <div id="preview" class="mt-2">
            <img class="img-thumbnail" style="width:500px;height: 300px" src="data:image/jpeg;base64,@Model.student.Person.LinkPhoto" />
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Observaciones</label>
            <input type="text" value="@Model.student.Person.Observations" name="observations" class="form-control" id="observations" autocomplete="off">         
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Activo</label>
            <select id="active" name="active" class="form-control">
                @if (Model.student.Active == true)
                {
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                }
                else
                {
                    <option value="1">Activo</option>
                    <option value="0" selected>Inactivo</option>
                }
            </select>
        </div>

        <div class="form-group mt-4 col-6">
            <button type="submit" class="btn btn-warning btn-lg">Actualizar Alumno</button>
        </div>

    }
</div>

<script type="text/javascript" src="~/js/student/formUpdateStudent.js"></script>