﻿@model BackOffice.Models.StudentModel
@{
    ViewBag.Title = "index";
}

<div class="border p-4 mb-5 bg-light">
    <div class="form-group mt-2 col-6">
        <h2>Filtrar</h2>
        <label for="exampleFormControlInput1" class="form-label">Estado</label>
        <select id="active" name="active" class="form-control">
            <option value="0">todos</option>
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
        </select>
    </div>

    <div class="form-group mt-2 col-6">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" name="firstName" class="form-control" id="firstName" placeholder="nombre" autocomplete="off">
    </div>

    <div class="form-group mt-2 col-6">
        <label for="exampleFormControlInput1" class="form-label">Apellido</label>
        <input type="text" name="lastName" class="form-control" id="lastName" placeholder="apellido" autocomplete="off">
    </div>

    <div class="form-group mt-2 col-6">
        <label for="exampleFormControlInput1" class="form-label">DNI</label>
        <input type="text" name="dni" class="form-control" id="dni" autocomplete="off">
    </div>

    <div class="form-group mt-2 col-6">
        <button type="submit" id="filter" class="btn btn-danger col-6">Filtrar</button>
    </div>
</div>

<div id="studentFilter">
    <h2>Alumnos</h2>
    <a href="@Url.Action("formCreateStudent", "student")" class="btn btn-primary">Crear un Alumno</a>

    <table class="table">
    <thead>
        <tr>
            <th scope="col">nombre</th>
            <th scope="col">apellido</th>
            <th scope="col">email</th>
            <th scope="col">Actvo</th>
            <th scope="col">Editar</th>
            <th scope="col">consultar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model.listStudent)
        {
        <tr>
            <td>@student.Person.FirstName</td>
            <td>@student.Person.LastName</td>
            <td>@student.Person.Email</td>
            @if (student.Active == true)
            {
                <td>si</td>
            }
            else
            {
                <td>no</td>
            }

            <td><a href="@Url.Action("formUpdateStudent", "Student",new { id = student.Id })">Editar</a></td>
            <td><a href="@Url.Action("detailStudent", "Student",new { id = student.Id })">Consultar</a></td>
        </tr>
        }
    </tbody>
    </table>
</div>

<script type="text/javascript" src="~/js/student/student.js"></script>