﻿@model BackOffice.Models.UserModel
@{
    ViewBag.Title = "detailUser";
}

<a href="@Url.Action("index", "User")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Detalle de Usuario</h2>
<div>
    <ul>
        <li>Nombre : @Model.userDetail.FirstName</li>
        <li>Apellido : @Model.userDetail.LastName</li>
        <li>Email: @Model.userDetail.Email</li>
        @if (Model.userDetail.Active == true)
        {
            <li>Estado: Si</li>
        }
        else
        {
            <li>Estado: No</li>
        }
    </ul>
</div>

