﻿
@{
    Layout = null;
}

<h2>Usuarios</h2>
<a href="@Url.Action("formCreateUser", "user")" class="btn btn-primary">Crear un Usuario</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Actvar</th>
            <th scope="col">Editar</th>
            <th scope="col">consultar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model.listUser)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            @if (user.Active == true)
            {
                <td>si</td>
            }
            else
            {
                <td>no</td>
            }
            <td><a href="@Url.Action("formUpdateUser", "user",new { id = user.Id })">Editar</a></td>
            <td><a href="@Url.Action("detailUser", "user",new { id = user.Id })">Consultar</a></td>
        </tr>
        }
    </tbody>
</table>