﻿@model BackOffice.Models.UserModel
@{
    ViewBag.Title = "formCreateUser";
}

<a href="@Url.Action("index", "User")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Crear Usuario</h2>
<div class="col-12 row d-flex justify-content-center ">
    @using (Html.BeginForm("createUser", "User", FormMethod.Post, new { id = "createUser" }))
    {

        <div class="form-group mt-2 col-6">
            <label for="rol" class="form-label">Rol</label>
            <select id="rol" name="rol" class="form-control">
                @foreach (Rol rol in Model.listRol)
                {
                <option value="@rol.Id">@rol.Id - @rol.description</option>
                }
            </select>
        </div>

        <div class="form-group mt-2 col-6" id="teacherDiv">
            <label for="rol" class="form-label">Profesor</label>
            <select id="teacherPerson" class="form-control">
                @foreach (Teacher teacher in Model.listTeacher)
                {
                    <option value="@teacher.Person.Id">@teacher.Person.Id - @teacher.Person.FirstName</option>
                }
            </select>
            <div class="text-danger" id="teacherPersonError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" name="firstName" class="form-control" id="firstName" placeholder="nombre" autocomplete="off">
            <div class="text-danger" id="firstNameError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
            <input type="text" name="lastName" class="form-control" id="lastName" placeholder="apellido" autocomplete="off">
            <div class="text-danger" id="lastNameError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="example@example.com" autocomplete="off">
            <div class="text-danger" id="emailError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password">
            <div class="text-danger" id="passwordError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Repetir Password</label>
            <input type="password" name="repeatPassword" class="form-control" id="repeatPassword">
            <div class="text-danger" id="repeatPasswordError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Activo</label>
            <select id="active" name="active" class="form-control">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>

        <div class="form-group mt-4 col-6">
            <button type="submit" class="btn btn-success btn-lg col-12">Crear Usuario</button>
        </div>
    }
</div>

<script type="text/javascript" src="~/js/user/formCreateUser.js"></script>
