﻿@model BackOffice.Models.UserModel
@{
    ViewBag.Title = "formUpdateUser";
}

<a href="@Url.Action("index", "User")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Actualizar Usuario</h2>
<div class="col-12 row d-flex justify-content-center ">
    @using (Html.BeginForm("updateUser", "User", FormMethod.Post,new { id = "updateUser" }))
    {
        <input type="hidden" value="@Model.userDetail.Id" name="id" class="form-control" id="id">

        <div class="form-group mt-2 col-6">
            <label for="rol" class="form-label">Rol</label>
            <select id="rol" name="rol" class="form-control">
                @foreach (Rol rol in Model.listRol)
                {
                    if (Model.userDetail.Rol.Id == rol.Id)
                    {
                        <option value="@rol.Id" selected>@rol.description</option>
                    }
                    else
                    {
                        <option value="@rol.Id">@rol.description</option>
                    }
                }
            </select>
        </div>

        <div class="form-group mt-2 col-6" id="teacherDiv">
            <label for="rol" class="form-label">Profesor</label>
            <select id="teacherPerson" class="form-control">
                @foreach (Teacher teacher in Model.listTeacher)
                {
                    if (Model.userDetail.Person != null)
                    {
                        if (Model.userDetail.Person.Teachers.FirstOrDefault().Id == teacher.Id)
                        {
                            <option value="@teacher.Person.Id" selected>@teacher.Person.FirstName</option>
                        }
                        else
                        {
                            <option value="@teacher.Person.Id">@teacher.Person.FirstName</option>
                        }
                    }
                    else
                    {
                        <option value="@teacher.Person.Id">@teacher.Person.FirstName</option>
                    }
                }
            </select>
            <div class="text-danger" id="teacherPersonError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" name="firstName" value="@Model.userDetail.FirstName" id="firstName" class="form-control" placeholder="nombre" autocomplete="off">
            <div class="text-danger" id="firstNameError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
            <input type="text" name="lastName" value="@Model.userDetail.LastName" id="lastName" class="form-control" placeholder="apellido" autocomplete="off">
            <div class="text-danger" id="lastNameError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" name="email" value="@Model.userDetail.Email" id="email" class="form-control" placeholder="example@example.com" autocomplete="off">
            <div class="text-danger" id="emailError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Activo</label>
            <select id="active" name="active" class="form-control">
                @if (Model.userDetail.Active == true)
                {
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                }
                else
                {
                    <option value="1">Activo</option>
                    <option value="0" selected>Inactivo</option>
                }
            </select>
        </div>

        <button id="updatePassword" type="button" class="btn btn-primary mt-5">Modificar Password</button>

        <div id="passSection">
            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control">
                <div class="text-danger" id="passwordError"></div>
            </div>
            <div class="form-group mt-2 col-6">
                <label for="exampleFormControlInput1" class="form-label">Repetir Password</label>
                <input type="password" name="repeatPassword" id="repeatPassword"  class="form-control">
                <div class="text-danger" id="repeatPasswordError"></div>
            </div>
        </div>

        <div class="form-group mt-4 col-6">
            <button type="submit" class="btn btn-warning btn-lg">Actualizar Usuario</button>
        </div>

    }
</div>

<script type="text/javascript" src="~/js/user/formUpdateUser.js"></script>