﻿@model BackOffice.Models.UserModel

@{
    ViewBag.Title = "index";
}


<div class="border p-4 mb-5 bg-light">

    <div class="form-group mt-2 col-6">
        <h2>Filtrar Por Estado </h2>
        <select id="active" name="active" class="form-control">
            <option value="0">todos</option>
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
        </select>
    </div>

    <div class="form-group mt-2 col-6">
        <button type="submit" id="filter" class="btn btn-danger col-2">Filtrar</button>
    </div>

    <div class="form-group mt-2 col-6">
        <a href="@Url.Action("formCreateUser", "user")" class="btn btn-primary mb-4">Crear un Usuario</a>
    </div>

</div>
    <div class="" id="filterUser">
        
        <h3>Listado de Usuarios Ingresados</h3>       

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">nombre</th>
                    <th scope="col">apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actvar</th>
                    <th scope="col">Editar</th>
                    <th scope="col">consultar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (User user in Model.listUser)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        @if (user.Active == true)
                        {
                            <td>si</td>
                        }
                        else
                        {
                            <td>no</td>
                        }
                        <td><a href="@Url.Action("formUpdateUser", "user",new { id = user.Id })" class="fa fa-pencil"></a></td>
                        <td><a href="@Url.Action("detailUser", "user",new { id = user.Id })" class="fa fa-eye"></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

<script type="text/javascript" src="~/js/user/user.js"></script>