﻿@model BackOffice.Models.TeacherModel
@{
    ViewBag.Title = "detailTeacher";
}

<a href="@Url.Action("index", "Teacher")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Detalle Profesor</h2>
<div>
    <ul>
        <li>Nombre : @Model.teacher.Person.FirstName</li>
        <li>Apellido : @Model.teacher.Person.LastName</li>
        <li>Email : @Model.teacher.Person.Dni</li>
        <li>Observaciones :  @Model.teacher.Person.Observations</li>
        <li>Telefono : @Model.teacher.Person.Telephone</li>
        <li>DNI : @Model.teacher.Person.Dni</li>
    </ul>

    <img style="width:600px;height: 400px" src="data:image/jpeg;base64,@Model.teacher.Person.LinkPhoto" />
    <h3 class="mt-4">Tecnologias</h3>
    @foreach(TeacherTechnology tt in Model.teacher.TeacherTechnologies){
    <ul>
        <li>nombre tecnologia : @tt.Technology.Name</li>
    </ul>
    }
</div>


