﻿
@{
    Layout = null;
}

<h2>Profesor</h2>
<a href="@Url.Action("formCreateTeacher", "teacher")" class="btn btn-primary">Crear Tecnologia</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">apellido</th>
            <th scope="col">email</th>
            <th scope="col">Activo</th>
            <th scope="col">Editar</th>
            <th scope="col">consultar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Teacher teacher in Model.listTeacher)
        {
        <tr>
            <td>@teacher.Id</td>
            <td>@teacher.Person.FirstName</td>
            <td>@teacher.Person.LastName</td>
            <td>@teacher.Person.Email</td>
            @if (teacher.Active == true)
            {
                <td>si</td>
            }
            else
            {
                <td>no</td>
            }
            <td><a href="@Url.Action("formUpdateTeacher", "Teacher",new { id = teacher.Id })">Editar</a></td>
            <td><a href="@Url.Action("detailTeacher", "Teacher",new { id = teacher.Id })">Consultar</a></td>
        </tr>
        }
    </tbody>
</table>
</div>
