﻿@model BackOffice.Models.TeacherModel
@{
    ViewBag.Title = "formUpdateTeacher";
}

<a href="@Url.Action("index", "Teacher")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Actualizar Profesor</h2>

<div class="col-12 row d-flex justify-content-center">

    @using (Html.BeginForm("updateTeacher", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data", id = "updateTeacher" }))
    {
        <input type="hidden" name="id" value="@Model.teacher.Id" class="form-control">
        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" value="@Model.teacher.Person.FirstName" name="firstName" class="form-control" id="firstName" autocomplete="off">
            <div class="text-danger" id="firstNameError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
            <input type="text" value="@Model.teacher.Person.LastName" name="lastName" class="form-control" id="lastName" autocomplete="off">
            <div class="text-danger" id="lastNameError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="text" value="@Model.teacher.Person.Email" name="email" class="form-control" id="email" placeholder="" autocomplete="off">
            <div class="text-danger" id="emailError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">DNI</label>
            <input type="text" value="@Model.teacher.Person.Dni" name="dni" class="form-control" id="dni" autocomplete="off">
            <div class="text-danger" id="dniError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Telefono</label>
            <input type="text" value="@Model.teacher.Person.Telephone" name="telephone" class="form-control" id="telephone" autocomplete="off">
            <div class="text-danger" id="telephoneError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Foto</label>
            <input type="file" name="file" class="form-control" id="file">
        </div>

        <div id="preview" class="mt-2">
            <img class="img-thumbnail" style="width:500px;height: 300px" src="data:image/jpeg;base64,@Model.teacher.Person.LinkPhoto" />
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Url Linkedin</label>
            <input type="text" value="@Model.teacher.Linkedin" name="linkedin" class="form-control" id="linkedin" autocomplete="off">
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Observaciones</label>
            <input type="text" value="@Model.teacher.Person.Observations" name="obserbations" class="form-control" id="obserbations" autocomplete="off">
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Tecnologias</label>
            <select class="form-control" name="idTec" id="idTec">
                @foreach (Technology technology in Model.listTechnology)
                {
                    <option value="@technology.Id">@technology.Name</option>
                }
            </select><br />
            <button id="addTecnologia" type="button" class="btn btn-primary">Agregar</button>
        </div>

        <div class="tecnoligies" id="tecnoligies">
            
            @foreach (TeacherTechnology teaTech in Model.teacher.TeacherTechnologies)
            {
                <div class="idtechnology col-6  p-1 mt-1 d-flex justify-content-between">
                    <input class="inputValue" name="idTechnoloy[]" type="hidden" value="@teaTech.Technology.Id">@teaTech.Technology.Name<button type="button" name="deleteTec" class="btn btn-danger deleteTec">Eliminar</button>
                </div>
            }
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Activo</label>
            <select id="active" name="active" class="form-control">
                @if (Model.teacher.Active == true)
                {
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                }
                else
                {
                    <option value="1">Activo</option>
                    <option value="0" selected>Inactivo</option>
                }
            </select>
        </div>

        <div class="form-group mt-4 col-6">
            <button type="submit" class="btn btn-warning btn-lg">Actualizar Profesor</button>
        </div>
    }
</div>

<script type="text/javascript" src="~/js/teacher/formUpdateTeacher.js"></script>

