﻿@model BackOffice.Models.TeacherModel
@{
    ViewBag.Title = "index";
}

@if (Model.userSession.Rol.description != "Mentor" )
{
    ViewBag.Title = "index";

    <div class="border p-4 mb-5 bg-light">
        <div class="form-group mt-2 col-6">
            <h2>Filtrar</h2>
            <select id="active" name="active" class="form-control">
                <option value="0">todos</option>
                <option value="1">Activo</option>
                <option value="2">Inactivo</option>
            </select>
        </div>
        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Tecnologia</label>
            <select type="text" name="idTec" id="idTec" class="form-control">
                <option value="0">todos</option>
                @foreach (Technology technology in Model.listTechnology)
                {
                    <option value="@technology.Id">@technology.Name</option>
                }
            </select>
        </div>
        <div class="form-group mt-2 col-6">
            <button type="submit" id="filter" class="btn btn-danger col-6">Filtrar</button>
        </div>
    </div>
    <div id="filterTeacher">
        <h2>Profesor</h2>
        <a href="@Url.Action("formCreateTeacher", "teacher")" class="btn btn-primary">Crear Profesor</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">nombre</th>
                    <th scope="col">apellido</th>
                    <th scope="col">email</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Editar</th>
                    <th scope="col">consultar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Teacher teacher in Model.listTeacher)
                {
                    <tr>
                        <td>@teacher.Person.FirstName</td>
                        <td>@teacher.Person.LastName</td>
                        <td>@teacher.Person.Email</td>
                        @if (teacher.Active == true)
                        {
                            <td>si</td>
                        }
                        else
                        {
                            <td>no</td>
                        }
                        <td><a href="@Url.Action("formUpdateTeacher", "Teacher", new { id = teacher.Id })">Editar</a></td>
                        <td><a href="@Url.Action("detailTeacher", "Teacher", new { id = teacher.Id })">Consultar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="~/js/teacher/teacher.js"></script>
}
else
{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/layoutTeacher.cshtml";

    <div class="d-flex justify-content-center align-items-center" style="height:400px;">
        <a class="navbar-brand" href="#"><img src="~/image/logo_web.png" alt="" /></a>
    </div>
}