﻿@model BackOffice.Models.TeacherModel
@{
    Layout = null;
}

<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">Cursos</th>
            <th scope="col">Clase</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TeacherCalendar tc in Model.listTeacherCalendars)
        {
            <tr>
                <td> @tc.CurseItem.Curse.Name - @tc.CurseItem.Curse.Technology.Name</td>
                <td> @tc.DateHourStart.ToString("dddd") @tc.DateHourStart.ToString("dd/MM/yyyy")</td>
                <td>

                    @if (DateTime.Parse(DateTime.Now.ToString("dd/MM/yyyy")) < DateTime.Parse(tc.DateHourStart.ToString("dd/MM/yyyy")))
                    {
                        <span>---</span>
                    }
                    else
                    {
                        <a class="linkDisabled" href="@Url.Action("teacherStudenCalendar", "Teacher" , new { id = tc.Id, curseItemId = tc.CurseItem.Id, countCal = tc.countCalendars })">Ingresar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
