﻿@model BackOffice.Models.TeacherModel
@{
    ViewBag.Title = "myCourses";
    Layout = "~/Views/Shared/layoutTeacher.cshtml";
}

<h3>Hola @Model.teacher.Person.FirstName, actualmente tenes @Model.teacher.CurseItems.Count cursos asignados</h3>

<div class="form-group mt-4 col-12">
    <h4>Filtrar por cursos</h4>
   
        <select id="curseItem" class="form-control">
            @foreach (CurseItem ci in Model.teacher.CurseItems)
            {
                <option value="@ci.Id">
                    @ci.Curse.Name - @ci.Curse.Technology.Name |
                    @if (ci.ItemDays != null)
                    {
                        for (int i = 0; i < ci.ItemDays.Length; i++)
                        {
                            if (ci.ItemDays[i] >= '0' && ci.ItemDays[i] <= '9')
                            {
                                if (0 == Convert.ToInt32(Convert.ToInt64(ci.ItemDays[i].ToString())))
                                {
                                    <span>, Domingo</span>
                                }
                                if (1 == Convert.ToInt32(Convert.ToInt64(ci.ItemDays[i].ToString())))
                                {
                                    <span>, Lunes</span>
                                }
                                if (2 == Convert.ToInt32(Convert.ToInt64(ci.ItemDays[i].ToString())))
                                {
                                    <span>, Martes</span>
                                }
                                if (3 == Convert.ToInt32(Convert.ToInt64(ci.ItemDays[i].ToString())))
                                {
                                    <span>, Miercoles</span>
                                }
                                if (4 == Convert.ToInt32(Convert.ToInt64(ci.ItemDays[i].ToString())))
                                {
                                    <span>, Jueves</span>
                                }
                                if (5 == Convert.ToInt32(Convert.ToInt64(ci.ItemDays[i].ToString())))
                                {
                                    <span>, Viernes</span>
                                }
                                if (6 == Convert.ToInt32(Convert.ToInt64(ci.ItemDays[i].ToString())))
                                {
                                    <span>, Sabado</span>
                                }
                            }
                        }
                    }
                    | @ci.DateStart.ToString("hh") a @ci.DateFinish.ToString("hh") hs | @ci.DateStart.ToString("dd/MM/yyyy") al @ci.DateFinish.ToString("dd/MM/yyyy")
                </option>
            }
        </select>
        
</div>

<div id="teacherCalendar" class="form-group mt-2 col-12">

</div>

<script type="text/javascript" src="~/js/teacher/myCourses.js"></script>
