﻿@model BackOffice.Models.TeacherModel
@{
    ViewBag.Title = "teacherStudenCalendar";
    Layout = "~/Views/Shared/layoutTeacher.cshtml";
}

<h2>@Model.curseItem.Curse.Name - @Model.curseItem.Curse.Technology.Name</h2>
<h4 class="mt-4">Cantidad de Estudiantes : @Model.listStudentCalendars.Count</h4>
@if (Model.listStudentCalendars.Count > 0)
{
    <p>Fecha : @Model.listStudentCalendars.FirstOrDefault().DateHourEnd</p>

    <div>
        @using (Html.BeginForm("confirmAssistance", "Teacher", FormMethod.Post))
        {
            <input name="curseItem" type="hidden" value="@Model.curseItemId" />
            <input name="countCal" type="hidden" value="@Model.countCal" />

            <table class="table text-center table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Asistencia</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">DNI</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (StudentCalendar sc in Model.listStudentCalendars)
                    {
                        <tr>
                            @if (sc.StudentClassAssistances != null)
                            {
                                if (sc.StudentClassAssistances.FirstOrDefault() != null)
                                {
                                    if (sc.StudentClassAssistances.FirstOrDefault().assistance == true)
                                    {
                                        <td>
                                            <div class="form-check form-switch d-flex justify-content-center">
                                                <input name="assistance" value="@sc.Id" type="checkbox" class="form-check-input" checked />
                                            </div>
                                        </td>
                                        <td>@sc.Student.Person.FirstName</td>
                                        <td>@sc.Student.Person.LastName</td>
                                        <td>@sc.Student.Person.Email</td>
                                        <td>@sc.Student.Person.Dni</td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="form-check form-switch d-flex justify-content-center">
                                                <input name="assistance" value="@sc.Id" type="checkbox" class="form-check-input" />
                                            </div>
                                        </td>
                                        <td>@sc.Student.Person.FirstName</td>
                                        <td>@sc.Student.Person.LastName</td>
                                        <td>@sc.Student.Person.Email</td>
                                        <td>@sc.Student.Person.Dni</td>
                                    }
                                }
                                else
                                {
                                    <td>
                                        <div class="form-check form-switch d-flex justify-content-center">
                                            <input name="assistance" value="@sc.Id" type="checkbox" class="form-check-input" />
                                        </div>
                                    </td>
                                    <td>@sc.Student.Person.FirstName</td>
                                    <td>@sc.Student.Person.LastName</td>
                                    <td>@sc.Student.Person.Email</td>
                                    <td>@sc.Student.Person.Dni</td>
                                }
                            }
                            else
                            {
                                <td>
                                    <div class="form-check form-switch d-flex justify-content-center">
                                        <input name="assistance" value="@sc.Id" type="checkbox" class="form-check-input" />
                                    </div>
                                </td>
                                <td>@sc.Student.Person.FirstName</td>
                                <td>@sc.Student.Person.LastName</td>
                                <td>@sc.Student.Person.Email</td>
                                <td>@sc.Student.Person.Dni</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group mt-4 col-4">
                <button type="submit" class="btn btn-success btn-lg col-12">Guardar</button>
            </div>
        }
    </div>
}
else
{
    <h3 class="mt-4">No hay alumnos para esta clase</h3>
}