﻿@model BackOffice.Models.CurseModel
@{
    ViewBag.Title = "detailCurse";
}

<a href="@Url.Action("index", "Curse")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Detalle Curso</h2>

<div>
    <ul>
    <li>Nombre : @Model.curse.Name</li>
    <li>Requerimientos : @Model.curse.Requeriments</li>
    <li>Descripcion : @Model.curse.Descripcion</li>
    <li>Contenido : @Model.curse.ContentsTeached</li>
        <img style="width:600px;height: 400px" src="data:image/jpeg;base64,@Model.curse.LinkPhoto" />
    </ul>
</div>
