﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<a href="@Url.Action("formCreateCurse", "curse")" class="btn btn-primary">Crear un Curso</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">requerimento</th>
            <th scope="col">descripcion</th>
            <th scope="col">activo</th>
            <th scope="col">editar</th>
            <th scope="col">consultar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Curse curse in Model.listCurse)
        {
        <tr>
            <td>@curse.Id</td>
            <td>@curse.Name</td>
            <td>@curse.Requeriments</td>
            <td>@curse.Descripcion</td>
            @if (curse.Active == true)
            {
                <td>si</td>
            }
            else
            {
                <td>no</td>
            }
            <td><a href="@Url.Action("formUpdateCurse", "curse",new { id = curse.Id })">Editar</a></td>
            <td><a href="@Url.Action("ConsultUser", "curse",new { id = curse.Id })">Consultar</a></td>
        </tr>
        }
    </tbody>
</table>
