﻿@model BackOffice.Models.CurseModel
@{
    ViewBag.Title = "formCreateCurse";
}

<a href="@Url.Action("index", "Curse")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Crear Curso</h2>
<div class="col-12 row d-flex justify-content-center ">
    @using (Html.BeginForm("createCurse", "Curse", FormMethod.Post, new { enctype = "multipart/form-data" , id = "createCurse" }))
    {

    <div class="form-group mt-2 col-6">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="nombre" autocomplete="off">
        <div class="text-danger" id="nameError"></div>
    </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Tecnologia</label>
            <select type="text" name="idTec" id="idTec" class="form-control">
               @foreach (Technology technology in Model.listTechnology)
                {
                    <option value="@technology.Id" selected>@technology.Name</option>
                }
               
            </select>
            <div class="text-danger" id="technologyError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Contenidos Enseñados</label>
            <input type="text" name="content" class="form-control" id="content" autocomplete="off">
            <div class="text-danger" id="contentsTeachedError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
            <input type="text" name="description" class="form-control" id="description" autocomplete="off">
            <div class="text-danger" id="descriptionError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Requerimientos</label>
            <input type="text" name="requirements" value="" class="form-control" id="requirements" autocomplete="off">
            <div class="text-danger" id="requerimentsError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Foto</label>
            <input type="file" id="file" name="file" class="form-control">
            <div class="text-danger" id="linkPhotoError"></div>
        </div>

        <div id="preview" class="mt-2"></div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Activo</label>
            <select id="active" name="active" class="form-control">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>

        <div class="form-group mt-4 col-6">
            <button type="submit" class="btn btn-success btn-lg">Crear Curso</button>
        </div>

    }
</div>

<script type="text/javascript" src="~/js/curse/formCreateCurse.js"></script>