﻿@model BackOffice.Models.CurseModel
@{
    ViewBag.Title = "formUpdateCurse";
}

<a href="@Url.Action("index", "Curse")" class="btn btn-primary mb-4">Volver a Inicio</a>

<h2>Actualizar Curso</h2>
<div class="col-12 row d-flex justify-content-center ">
    @using (Html.BeginForm("updateCurse", "Curse", FormMethod.Post, new { enctype = "multipart/form-data" , id = "updateCurse" }))
    {
        <input name="id" type="hidden" value="@Model.curse.Id" />

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" name="name" value="@Model.curse.Name" class="form-control" id="name" placeholder="nombre" autocomplete="off">
            <div class="text-danger" id="nameError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Tecnologia</label>
            <select type="text" name="idTec" id="idTec" class="form-control">
                @foreach (Technology technology in Model.listTechnology)
                {
                    if (Model.curse.Technology.Id == technology.Id)
                    {
                        <option value="@technology.Id" selected>@technology.Name</option>
                    }
                    else
                    {
                        <option value="@technology.Id">@technology.Name</option>
                    }
                }
            </select>
            <div class="text-danger" id="technologyError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Contenidos Enseñados</label>
            <input type="text" name="content" value="@Model.curse.ContentsTeached" class="form-control" id="content" autocomplete="off">
            <div class="text-danger" id="contentsTeachedError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
            <input type="text" name="description" value="@Model.curse.Descripcion" class="form-control" id="description" autocomplete="off">
            <div class="text-danger" id="descriptionError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Requerimientos</label>
            <input type="text" name="requirements" value="@Model.curse.Requeriments" class="form-control" id="requirements" autocomplete="off">
            <div class="text-danger" id="requerimentsError"></div>
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Foto</label>
            <input type="file" name="file" class="form-control" id="file">
            <div class="text-danger" id="linkPhotoError"></div>
        </div>

        <div id="preview" class="mt-2">
            <img class="img-thumbnail" style="width:500px;height: 300px" src="data:image/jpeg;base64,@Model.curse.LinkPhoto" />
        </div>

        <div class="form-group mt-2 col-6">
            <label for="exampleFormControlInput1" class="form-label">Activo</label>
            <select id="active" name="active" class="form-control">
                @if (Model.curse.Active == true)
                {
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                }
                else
                {
                    <option value="1">Activo</option>
                    <option value="0" selected>Inactivo</option>
                }
            </select>
        </div>

        <div class="form-group mt-4 col-6">
            <button type="submit" class="btn btn-warning btn-lg">Actualizar Curso</button>
        </div>
    }
</div>

<script type="text/javascript" src="~/js/curse/formUpdateCurse.js"></script>