﻿@model BackOffice.Models.CurseModel
@{
    ViewBag.Title = "index";
}


<div class="border p-4 mb-5 bg-light">
    <div class="form-group mt-2 col-6">
        <h2>Filtrar</h2>
        <select id="active" name="active" class="form-control">
            <option value="0">todos</option>
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
        </select>
    </div>

    <div class="form-group mt-2 col-6">
        <label for="exampleFormControlInput1" class="form-label">Tecnologia</label>
        <select type="text" name="idTec" id="idTec" class="form-control">
            <option value="0">todos</option>
            @foreach (Technology technology in Model.listTechnology)
            {
                <option value="@technology.Id">@technology.Name</option>
            }
        </select>
    </div>

    <div class="form-group mt-4 col-6">
        <button type="submit" id="filter" class="btn btn-danger col-6">Filtrar</button>
    </div>
</div>


<div id="filterCurse">
    <h2>Cursos</h2>
    <a href="@Url.Action("formCreateCurse", "curse")" class="btn btn-primary">Crear un Curso</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nombre</th>
                <th scope="col">requerimento</th>
                <th scope="col">descripcion</th>
                <th scope="col">activo</th>
                <th scope="col">editar</th>
                <th scope="col">consultar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Curse curse in Model.listCurse)
            {
            <tr>
                <td>@curse.Id</td>
                <td>@curse.Name</td>
                <td>@curse.Requeriments</td>
                <td>@curse.Descripcion</td>
                @if (curse.Active == true)
                {
                    <td>si</td>
                }
                else
                {
                    <td>no</td>
                }
                <td><a href="@Url.Action("formUpdateCurse", "curse",new { id = curse.Id })">Editar</a></td>
                <td><a href="@Url.Action("detailCurse", "curse",new { id = curse.Id })">Consultar</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="~/js/curse/curse.js"></script>